.logo {
    width: 1450px;
}

body {
    background-image: url(img/самый\ фоновый\ фон.jpg);
}

.nazv {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

.line {
    margin: 10px auto 20px;
    display: block;
}

.bodyy {
    display: flex;
    height: 600px;
    margin: 120px;
    margin-top: 10px;
    background-image: url(img/фон.jpg);
    gap: 75px;

}


.table-1 {
    width: 300px;
    margin-top: 70px;
    margin-bottom: 70px;
    background-image: url(img/в\ линейку_cut-photo.ru_cut-photo.ru.jpg);
}

.table-2 {
    width: 300px;
    margin-top: 70px;
    margin-bottom: 70px;
    background-image: url(img/в\ линейку_cut-photo.ru_cut-photo.ru.jpg);
}

.table-3 {
    width: 300px;
    margin-top: 70px;
    margin-bottom: 70px;
    background-image: url(img/в\ линейку_cut-photo.ru_cut-photo.ru.jpg);
}

.table-text-1 {
    height: 350px;
    margin-top: 60px;
    margin-bottom: 70px;
    margin-left: 30px;
    margin-right: 30px;
}

.table-text-2 {
    height: 350px;
    margin-top: 60px;
    margin-bottom: 70px;
    margin-left: 30px;
    margin-right: 30px;
}

.table-text-3 {
    height: 350px;
    margin-top: 60px;
    margin-bottom: 70px;
    margin-left: 30px;
    margin-right: 30px;

}

.table-teorem {
    font-size: 30px;
    font-weight: 700;
}

.pred {
    font-size: 25px;
}
